.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #000000;
    }

#footer1 {
    background: #146c8f;
}

#footer2 {
    background: #0f80a2;
}
